h1{
    background-color: gold;
}

h1{
    background-color: aqua;
    color: rgb(225, 225,0);
}

section h2{
    color: blueviolet;
}

.textoNaranja{
    color: orangered;
}

#documento{
    color: blue;
}