*{ /*Estilo de la pagina*/
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{ /*Estilo del cuerpo de pagina*/
    background: #D4AC0D;
    font-family:'calibri';
}

header{ /*Estilo de la cabecera*/
    background-color: #7B241C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    }

.logo{ /*Estilo para el logo*/
    width: 150px;
    height: 150px;
    float: left;
    padding: 8px;
}


.lista{ /*Estilo que espacia los items*/
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.lista li a{ /*Estilo para las letras*/
    text-decoration: none;
    color: #f9fd01;
    font-weight: bold;
    font-size: x-large;
    padding: 10px 15px;
}

.abrir-menu,
.cerrar-menu{ /*Estilo para que no sea vea el menu de hamburguesa*/
    display: none;  
}

@media screen and (max-width:550px){ /*Estilos para el menu de hamburguesa*/
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #1c1c1c;
    }

    .cerrar-menu{
        color: #f9fd01;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #7B241C;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .lista{
        flex-direction: column;
        align-items: end;
    }

    .lista li a{
        color: #f9fd01;
    }

    #imagen-lista{
        max-width: 150px;
        display: flex;
        justify-content: end;
    }
}

.personajes{  /*Estilo de la lista de personajes*/
    display: flex;
    font-size: x-large;
    justify-content:center;
    flex-direction: column;
}

.personajes img{ /*Estilo de las imagenes de personajes*/
    text-align: left;
    width: 200px;
}

section article p{ /*Medida y alineacion del texto*/
    font-size: x-large;
    justify-content: center;
}

section article h1{ /*Estilo de los titulos*/
    text-align: center;
    margin:25px;
    font-weight: bold;
    text-align: center;
    font-size: 400%;
}

.imagen{ /*Estilo para todas las imagenes de la pagina principal*/
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

section article div iframe{ /*Alineacion del video para que quede centrado*/
    text-align: center;
}

@media(min-width:900px){ /*Modificaciones para la vista en otros dispositivos*/
    img{
        width: auto;
        text-align: center;
    }
    p{
        width: auto;
        text-align: center;
    }
    h1{
        width: auto;
        text-align: center;
    }
}

.nav li a{ /*Estilo del submenu*/
    background-color: #7B241C;
    color:#f9fd01;
    text-decoration: none;
    padding:10px 15px;
}

.nav li:hover > .submenu{ /*Estilo del submenu tipo bloque*/
    display: block;
}

.submenu { /*Estilo del submenu para que no se muestre*/
    display: none;
    position: absolute;
    background-color: #7B241C;
}

.submenu > li > a { /*Estilo del contennido del submenu*/
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #f9fd01;
    justify-content:center;
    align-items:center;
}

.submenu > li > a:hover { /*Color de fondo del submenu*/
    background-color: #7B241C;
}

#gif-container { /*Estilo del gif para que quede centrado al mostrarse*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gif { /*Tamaño del gif*/
    width: 100%;
    height: 100%;
}

footer{ /*Estilo para el footer*/
    background: #7B241C;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-weight: bold;
}

footer img{ /*Estilo para las imagenes del footer*/
    width: 150px;
}

#botonInicio{ /*Estilo para el boton que te devuelve al principio*/
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 80px;
    transition: all 1s;
}

#construccion{
    width: 100%;
    
}