*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #D4AC0D;
    font-family:'calibri';
}

header{
    background: #7B241C;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu{
    width: 900px;
    margin:auto;
}
body header div img{
    width: 150px;
    height: 150px;
    float: left;
    padding: 8px;
}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 10px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #f9fd01;
    font-weight: bold;
    font-size: x-large;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 100%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
}

nav ul li a:hover::before{
    width: 100%;
}

p{
    font-size: x-large;
}

h1{
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 400%;
}

section article img{
    margin-left: 800px;
    margin-right: 800px;
    width: 300px;
}