/*Ejemplo de estilos por etiquetas*/
body{
    background-color: lightblue;
    border: 5px dotted black;
}

/*Ejemplo de estilos por clases(recordar llamarlo en el archivo html*/
.textoCentrado{
    text-align: center;
}
h1{
    background-color: lightblue;
}
nav{
    display: inline-block;
}
p{
    display: inline-block;
}